<div class="dish-header pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-3"><%= @cuisine.name %></h1>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <% if @dishes.any? %>
            <div class="col-md-8">
                <div class="row">
                    <% @dishes.each_slice(1) do |dish| %>
                        <% dish.each do |dish| %>
                            <div class="col-6 col-md-4 mb-3">
                                <div class="card dish bg-dark text-white">
                                    <img class="card-img" src="<%= dish.image_path %>" alt="Dish Image">
                                    <div class="card-img-overlay">
                                        <h4 class="card-title"><%= dish.name %></h4>
                                        <!-- <p class="card-text"><i class="fa fa-rupee"></i><%= dish.price %></p> -->
                                        <p class="card-text"><%= dish.category.name %>, <%= dish.cuisine.name %></p>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card" style="width: 20rem;">
                            <div class="card-header">
                                Cuisines
                            </div>
                            <ul class="list-group list-group-flush">
                                <% @cuisines.each_slice(1) do |c| %>
                                    <% c.each do |c| %>
                                        <li class="list-group-item"><%= link_to c.name, cuisine_path(c) %></li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card" style="width: 20rem;">
                            <div class="card-header">
                                Categories
                            </div>
                            <ul class="list-group list-group-flush">
                                <% @categories.each_slice(1) do |c| %>
                                    <% c.each do |c| %>
                                        <li class="list-group-item"><%= link_to c.name, category_path(c) %></li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </div>
<!--                     <div class="col-12 mb-4">
                        <div class="card" style="width: 20rem;">
                            <div class="card-header">
                                Main Ingredients
                            </div>
                            <ul class="list-group list-group-flush">
                                <% @mainIng.each_slice(1) do |mi| %>
                                    <% mi.each do |mi| %>
                                        <li class="list-group-item"><%= link_to mi.name, main_ingredient_path(mi) %></li>
                                    <% end %>
                                <% end %>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
        <% else %>
            <div class="col-12 mb-3">
                <div class="show-error text-center">
                    <h1 class="display-5">We Are Still Getting It Ready! </h1>
                    <img src="https://cdn.dribbble.com/users/458522/screenshots/2710195/dribbbler_1x.jpg" alt="no-dishes" class="img-fluid">

                    <p class="text-left">Meanwhile you can explore here: </p>
                    <ul class="fa-ul text-left ml-5">
                        <% @cuisines.each_slice(1) do |c| %>
                            <% c.each do |c| %>
                                <li><%= link_to c.name, cuisine_path(c) %></li>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        <% end %>
    </div>
</div>