<%= form_for(@booking, :url => bookings_path) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, class: 'form-control light-form rightEntry', placeholder: "What should we call you?" %>
  </div>

  <div class="form-group">
    <%= f.number_field :booking_for, class: 'form-control light-form rightEntry', placeholder: "Booking for..." %>
  </div>

  <div class="form-group form-row">
    <div class="col-6">
      <%= f.date_field :date, class: 'form-control light-form rightEntry' %>
    </div>
    <div class="col-6">
      <%= f.time_field :time, class: 'form-control light-form rightEntry' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.number_field :phone, class: 'form-control light-form rightEntry' %>
  </div>

  <div class="actions">
    <input type="submit" name="commit" class="link rightEntry" value="Book">
  </div>
<% end %>
