<div class="dish-header pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-3">Bookings</h1>
            </div>
        </div>
    </div>
</div>


  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="row">
          <div class="col-1">#</div>
          <div class="col-3">Name</div>
          <div class="col-1">Booking For</div>
          <div class="col-3">Time</div>
          <div class="col-2">Phone</div>
        </div>
        <% @bookings.each do |booking| %>
          <div class="row">
            <div class="col-1 __b-rows"><%= booking.id %></div>
            <div class="col-3 __b-rows"><%= booking.name %></div>
            <div class="col-1 __b-rows"><%= booking.booking_for %></div>
            <div class="col-3 __b-rows"><%= booking.date + ' @ ' + booking.time %></div>
            <div class="col-2 __b-rows"><%= booking.phone %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>




<p id="notice"><%= notice %></p>
