<div class="dish-header pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-3">Bookings</h1>
            </div>
        </div>
    </div>
</div>


  <div class="container pt-5">
    <div class="row mb-3">
      <div class="col-1"><h4>#</h4></div>
      <div class="col-2"><h4>Name</h4></div>
      <div class="col-2"><h4>Booking For</h4></div>
      <div class="col-2"><h4>Time</h4></div>
      <div class="col-2"><h4>Phone</h4></div>
      <div class="col-2"><h4>Booking Time</h4></div>
    </div>
    <% @bookings.each do |booking| %>
      <div class="row py-3 __s-row">
        <div class="col-1"><%= booking.id %></div>
        <div class="col-2"><%= booking.name %></div>
        <div class="col-2"><%= booking.booking_for %></div>
        <div class="col-2"><%= booking.date + ' @ ' + booking.time %></div>
        <div class="col-2"><%= booking.phone %></div>
        <div class="col-2"><%= booking.created_at.strftime("%d-%m-%Y") %> <%= booking.created_at.strftime("%H:%M") %></div>
      </div>
    <% end %>
    </div>
  </div>




<p id="notice"><%= notice %></p>
