<div class="header">
	<div class="brand-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-10 col-md-6 ml-auto text-right">
					<h1 class="display-3">Foodie Elephant</h1>
					<p>We just love food! And that's what we can make you do.</p>
					<p>The best meals at our restaurants can be found right here.</p>
					<%= link_to 'Our Menu', dishes_path, class: 'link' %>
				</div>
			</div>
		</div>
	</div>
</div>


<section id="cuisine-section">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="display-4">Our Cuisine</h1>
			</div>
		</div>
		<div class="row justify-content-around pt-5 pb-5">
			<% @cuis.each do |c| %>
				<div class="col-12 col-md-5 m-3 text-center">
					<div class="cuisine">
						<%= link_to '', cuisine_path(c), class: 'card-link' %>
						<!-- <h1 class="display-4">Lorem ipsum dolor.</h1> -->
						<p><%= c.name %></p>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<%= link_to 'See All Cuisines', cuisines_path, class: 'link __animate-link' %>
			</div>
		</div>
	</div>
</section>

<section id="category-section">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="display-4">Full Of Variety</h1>
			</div>
		</div>
		<div class="row justify-content-around pt-5 pb-5">
			<% @cat.each do |c| %>
				<div class="col-md-3 mb-3 text-center">
					<div class="category">
						<%= link_to '', category_path(c), class: 'card-link' %>
						<!-- <h1 class="display-4">Lorem ipsum dolor.</h1> -->
						<p><%= c.name %></p>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<%= link_to 'See All Categories', categories_path, class: 'link __animate-link' %>
			</div>
		</div>
	</div>
</section>

<section id="top-picks-section">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="display-4">Top Picks</h1>
			</div>
		</div>
		<div class="row justify-content-around pt-5 pb-5">
			<div class="col-12 col-md-5 m-3 text-center">
				<div class="cuisine">
					<!-- <h1 class="display-4">Lorem ipsum dolor.</h1> -->
					<%= link_to '', cuisines_path, class: 'card-link' %>
					<p>Lorem ipsum dolor sit.</p>
				</div>
			</div>
			<div class="col-12 col-md-5 m-3 text-center">
				<div class="cuisine">
					<!-- <h1 class="display-4">Lorem ipsum dolor.</h1> -->
					<%= link_to '', categories_path, class: 'card-link' %>
					<p>Lorem ipsum dolor sit.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section id="team-section">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="display-4">The Team</h1>
			</div>
		</div>
		<div class="row pt-5 pb-5">
			<div class="col-12 col-md-4 text-center">
				<div class="team-member m-auto">
					
				</div>
			</div>
			<div class="col-12 col-md-4 text-center">
				<div class="team-member m-auto">
					
				</div>
			</div>
			<div class="col-12 col-md-4 text-center">
				<div class="team-member m-auto">
					
				</div>
			</div>
		</div>
	</div>
</section> -->


<section id="book-table-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="display-4">Book A Table</h1>
			</div>
		</div>
		<div class="row justify-content-end m-2 p-5">
			<div class="col-12 col-md-4">
				<%= render 'bookings/form' %>

				<hr class="rightEntry">

				<p class="rightEntry">Or Call Us to Book - __________</p>
			</div>
		</div>
	</div>
</section>

<section id="connect-section">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="display-4 mb-3">Connect With Us</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-12">
				<div class="row mt-5">
					<div class="col-12">
						<p class="fadeEntry">No matter what! Be it a new dish idea, any type of feedback, or even some kind of praise, just drop a message for us!</p>
						<p class="fadeEntry">We would like to hear form you.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<form action="">
					<div class="form-group">
						<input type="text" name="name" placeholder="Name" class="form-control light-form rightEntry">
					</div>
					<div class="form-group">
						<textarea name="message" id="message" rows="3" placeholder="What do you want to say?" class="form-control light-form rightEntry"></textarea>
					</div>
					<div class="form-group">
						<button type="submit" class="btn link rightEntry">Send</button>
					</div>
				</form>
				<div class="row justify-content-center">
					<div class="col-2 text-center"><i class="fa fa-social fa-facebook-square"></i></div>
					<div class="col-2 text-center"><i class="fa fa-social fa-twitter"></i></div>
					<div class="col-2 text-center"><i class="fa fa-social fa-instagram"></i></div>
					<div class="col-2 text-center"><i class="fa fa-social fa-google"></i></div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= link_to 'Admin Dashboard', rails_admin_path %>