<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <%= link_to 'Foodie Elephant', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navFromLeft" aria-controls="navFromLeft" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navFromLeft">
        <ul class="navbar-nav ml-auto">
            <li class="<%= params[:controller] == 'home' ? 'nav-item active' : 'nav-item' %>">
                <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
            <li class="<%= params[:controller] == 'dishes' ? 'nav-item active' : 'nav-item' %>">
                <%= link_to 'Menu', dishes_path, class: 'nav-link' %>
            </li>
            <li class="<%= params[:controller] == 'categories' ? 'nav-item dropdown active' : 'nav-item dropdown' %>">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% @categories.each_slice(1) do |c| %>
                        <% c.each do |c| %>
                            <%= link_to c.name, category_path(c), class: 'dropdown-item' %>
                        <% end %>
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to 'All Categories', categories_path, class: 'dropdown-item' %>
                </div>
            </li>
            <li class="<%= params[:controller] == 'cuisines' ? 'nav-item dropdown active' : 'nav-item dropdown' %>">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuisines</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% @cuisines.each_slice(1) do |c| %>
                        <% c.each do |c| %>
                            <%= link_to c.name, cuisine_path(c), class: 'dropdown-item' %>
                        <% end %>
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to 'All Cuisines', cuisines_path, class: 'dropdown-item' %>
                </div>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Main Ingredients</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% @mainIng.each_slice(1) do |c| %>
                        <% c.each do |c| %>
                            <%= link_to c.name, main_ingredient_path(c), class: 'dropdown-item' %>
                        <% end %>
                    <% end %>
                    <div class="dropdown-divider"></div>
                    <%= link_to 'All Ingredients', main_ingredients_path, class: 'dropdown-item' %>
                </div>
            </li> -->
            <li class="<%= params[:controller] == 'abouts' ? 'nav-item active' : 'nav-item' %>">
                <%= link_to 'About Us', abouts_path, class: 'nav-link' %>
            </li>
            <% if admin_signed_in? %>
                <li class="<%= params[:controller] == 'contact_us' ? 'nav-item active' : 'nav-item' %>">
                    <%= link_to 'Messages', contact_us_path, class: 'nav-link' %>
                </li>
                <li class="<%= params[:controller] == 'bookings' ? 'nav-item active' : 'nav-item' %>">
                    <%= link_to 'Bookings', bookings_path, class: 'nav-link' %>
                </li>
            <% end %>
        </ul>
    </div>
</nav>